NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
SUPABASE_PRIVATE_KEY=<SUBSTITUTE_SUPABASE_PRIVATE_KEY>
SECRETS_ENCRYPTION_KEY=<GENERATE_WITH_openssl_rand_-base64_32>
NEXT_PUBLIC_GITHUB_APP_SLUG=<YOUR_GITHUB_APP_SLUG>